body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0%;
}   
.main-nav{
    padding: 10px;
    width: 550px;
    display: flex;
    column-gap: 30px;
    justify-content: right;
}
.my-logo{
    margin-left: 5%;
   /* margin-right: 700px;*/
   justify-content: space-between;
}
.submit{
    background-color: blue;
    font-size: 20px;
    color:white;
    width: 255px;
    border-radius: 10px 10px 10px 10px;
    border:none;
    font-weight: bold;
    cursor: pointer;
}

.box-detail{
    background-color: white;
    
    width:255px;
    border-radius: 10px 10px 10px 10px;

}
.box-detail:focus{
    outline: solid 1px red;
}
.name-detail{
    margin-right: 0px;
}
.user-input{
    text-align: left;
    background-color: #EEEFF1;
    width: 300px;
    border: solid 1px #3C404A;
    border-radius: 13px;
    padding: 30px;
    margin: 50px auto;
}
.main-nav a{
    font-size: 20px;
    color:black;
    text-decoration: none;
    transition-duration: 0.4ms;
}
form a{
    color:#5762D5;
    text-decoration: none;
}
.main-nav a:hover{
    color: coral;
    
}

button:hover{
    background-color: #5762D5;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #12cf3b;
    box-shadow: 0px 20px 50px #070707;

}
